@model List<SistemadeVentasOnline.Models.Categoria>

@{
    ViewBag.Title = "Categorias";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <!-- Breadcrumbs-->

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Categorias</li>
    </ol>
    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Categorias
            <a href="../Admin/AgregarCategoria" class="btn btn-info pull-right fa fa-plus">Agregar Categoria</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Sr. Nro.</th>
                            <th>Nombre de Categoria</th>
                            <th>Accion</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Sr. Nro.</th>
                            <th>Nombre de Categoria</th>
                            <th>Accion</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>@item.CategoriaId</td>
                                <td>@item.CategoriaNombre</td>
                                <td>
                                    <a href="~/Admin/EditarCategoria/@item.CategoriaId">Editar</a>
                                    <a href="~/Admin/EliminarCategoria/@item.CategoriaId" style="color:red" onclick="return confirm('Esta seguro que desea eliminar?')">Eliminar</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>